nav ul{
margin-left: auto !important ;


}

.nav-itme{

   text-transform: uppercase; 
}

#main .carousel-inner img{
    max-height:75vh;
    object-fit:cover;
    filter: grayscale(40%);
}

section{
    padding-top: 15px;
    padding-bottom: 15px;
}

.card .card-img-top{
    max-height: 250px;
    object-fit: cover;
    height: 250px;
}

.card{
margin-bottom: 15px;

}



footer{
    background-color:#14578b;
    color:white;
    font-weight: lighter;
    font-size: 14px;
}

footer a{

    color:white ;
    text-decoration:none ;
    
}

.modal-header{

    background-color: rgb(255, 0, 0);
    color: antiquewhite;
}






























































































